*.pyc
*.pyo
__pycache__
.dockerignore
.docker
.git
.env

.idea/


.DS_Store
__pycache__
__debug_bin
.ipynb_checkpoints
.python-version
.idea
.vscode
jsconfig.json
*.code-workspace
*.bkp
docker/local.env
frontend/node_modules
