@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --foreground-rgb: 0, 0, 0;
    --background-start-rgb: 214, 219, 220;
    --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
    :root {
        --foreground-rgb: 255, 255, 255;
        --background-start-rgb: 0, 0, 0;
        --background-end-rgb: 0, 0, 0;
    }
}

@layer components {
    .form-fix {
        @apply focus:outline-0;
    }

    .blue-radial {
        background: radial-gradient(circle, #202047 0, #020917 100%);
    }

    .btn-error {
        @apply bg-red-600 hover:bg-red-500 text-white min-w-[85px];
    }

    .btn-sm {
        @apply min-h-[2.5rem] h-10;
    }

    .badge {
        @apply inline-flex items-center rounded-full px-2 py-1 text-xs font-medium;
    }

    .badge-purple {
        @apply bg-purple-100 text-purple-700;
    }

    .badge-red {
        @apply bg-red-100 text-red-700;
    }

    .link {
        @apply text-blue-600 hover:text-blue-500 underline;
    }
}
