# This is to allow the status check pass when api test is not running.||
name: Z-Api Unit Test Checks

on:
  workflow_run:
    workflows: [Commit to branch]
    types:
      - completed

  # pull_request:
  #   types: [opened, synchronize, reopened]
  #   paths:
  #     - '**.pyy'
jobs:
  api_unit_test:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: [3.11]
    steps:
      - run: 'echo "No build required"'
